
/*-------------------gửi mail---------------------*/
.popup-send-mail {
    background: rgba(0, 0, 0, 0.6);
    max-width: 600px;
    /* position: absolute;
    top: 0;
    left: 0; */
 
}

.popup-send-mail .mail-content{
    /* height: 500px; */
    /* width: 800px; */
    background: #fff;
    border-radius: 5px;
    position: relative;
} 

.popup-send-mail .mail-content h2{
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #6c757d;
}

.popup-send-mail .mail-infor {
    margin: 25px;
    display: flex;
}

.mail-infor input{
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 30px;
    resize: none;
    font-size: 16px;
    flex: 1;
}
.mail-infor label {
    flex: 0.3;
}
.popup-send-mail textarea {
    height: 200px;
    width: 100%;
    font-size: 16px;
}