
composer.json
*.json
*.lock
*.php
vendor/composer/LICENSE
*.md
vendor/firebase/php-jwt/LICENSE
*.dist
vendor/google/auth/LICENSE
vendor/symfony/deprecation-contracts/LICENSE
vendor/ralouphie/getallheaders/LICENSE
vendor/psr/log/LICENSE
vendor/psr/http-message/LICENSE
*.yml
vendor/psr/http-factory/LICENSE
vendor/psr/http-client/LICENSE
vendor/psr/cache/LICENSE.txt
vendor/google/apiclient-services/LICENSE
vendor/google/apiclient/LICENSE
vendor/google/auth/COPYING
vendor/guzzlehttp/guzzle/LICENSE
vendor/guzzlehttp/psr7/LICENSE
vendor/guzzlehttp/promises/LICENSE
vendor/paragonie/constant_time_encoding/LICENSE.txt
vendor/monolog/monolog/LICENSE
vendor/paragonie/random_compat/build-phar.sh
vendor/paragonie/random_compat/dist/random_compat.phar.pubkey
vendor/paragonie/random_compat/dist/random_compat.phar.pubkey.asc
vendor/paragonie/random_compat/LICENSE
vendor/paragonie/random_compat/psalm.xml
vendor/phpseclib/phpseclib/AUTHORS
vendor/phpseclib/phpseclib/LICENSE
vendor/phpseclib/phpseclib/phpseclib/openssl.cnf
