section {
  margin-left: 200px;
}

.nav-bar {
  width: 100%;
  position: absolute;
  left: 250px;
  top: 25px;
  display: flex;
}

.nav-bar .span {
  padding: 0 50px;
  height: 30px;
  cursor: pointer;
}

.nav-bar .span:hover {
  padding: 0 50px;
  height: 30px;
  color: var(--text);
  cursor: pointer;
}

.nav-bar .span::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 90px;
  transform: translateX(-20%);
  border: 15px solid;
  border-color: transparent transparent rgb(182, 182, 182) transparent;
  z-index: 1;
}





