section {
  margin-left: 200px;
}

.nav-bar {
  width: 100%;
  position: absolute;
  left: 250px;
  top: 25px;
  display: flex;
}

.nav-bar .span {
  padding: 0 50px;
  height: 30px;
  cursor: pointer;
}

.nav-bar .span:hover {
  padding: 0 50px;
  height: 30px;
  color: var(--text);
  cursor: pointer;
}

.nav-bar .span::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 90px;
  transform: translateX(-20%);
  border: 15px solid;
  border-color: transparent transparent rgb(182, 182, 182) transparent;
  z-index: 1;
}

/*-------------TAB SLIDER------------*/

.tabs {
  display: flex;
  position: absolute;
  left: 250px;
  line-height: 55px;
}

.tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: fit-content;
  height: 4px;
  border-radius: 15px;
  background-color: var(--text);
  transition: all 0.3s ease;
}

.tab-item {
  box-sizing: border-box;
  padding: 0 10px 0 10px ;
  width: fit-content;
  margin-top: 9px;
  font-size: 18px;
  text-align: center;
  color: var(--black-color);
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0.6;
  cursor: pointer;

}

.tab-item:hover {
  opacity: 1;
  background-color: rgba(250, 168, 91, 0.11);
  border-color: rgba(218, 126, 51, 0.1);
}

.tab-item.active {
  opacity: 1;
}

.tab-pane {
  display: none;
}

.tab-pane.add {
  width: -moz-fit-content;
  width: fit-content;
}

.tab-pane.active {
  display: block;
}

.tab-pane h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

#update-tab.close {
  display: none;
}

/* -----------------------thêm phòng----------------------------- */
.container.add {
  margin-top: 50px;
  display: flex;
  width: fit-content;
  margin-left: 100px;
  /* justify-content: center; */
}

#form-add {
  position: relative;
}
.room-container {
  margin-bottom: 30px;
}
.room-container span {
  margin-left: 295px;
  padding-bottom: 10px;
  color: var(--red-color);
}

.container.add .room-infor {
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.container.add .room-name:first-child {
  margin-top: 0;
}

.container.add input,
.container.add textarea {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  resize: none;
  font-size: 16px;
  flex: 1;
}

.container.add textarea::-webkit-scrollbar {
  width: 0px;
  scroll-behavior: smooth;
}

.container.add label {
  font-size: 20px;
  flex: 0.5;
}

.room-status .form-check-input {
  width: 16px;
  height: 16px !important;
  border-radius: 50% !important;
  margin-right: 5px;
}

/*-----------Định dạng chung cho BUTTON--------- */

.btn {
  width: 100px;
  height: 50px;
  /* color: var(--white-color) !important; */
  background: var(--text);
  font-size: 17px;
  border-radius: 5px;
  float: right;
  border: none;
  cursor: pointer;
}

#btn-save {
  position: absolute;
  bottom: -50px;
  right: 0;
  background-color: var(--text);
}

#btn-save:hover {
  background: #171a2b;
  color: var(--white-color);
}

.btn-save-form {
  color: #fff !important;
  background-color: var(--color-blue) !important;
}
.btn-save-form:hover {
  background: #171a2b !important;
  color: var(--white-color) !important;
}



/* --------------xóa phòng--------------- */

.tab-pane .container {
  position: relative;
  display: flex;
  justify-content: center;
}


.tab-pane .container-table {
  position: relative;
  width: fit-content;
}

.tab-pane .container .table-infor {
  border-collapse: separate;
  background-color: var(--white-color);
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: 3px 3px 10px 3px #b4b4b4;
  margin-bottom: 50px;
}

.tab-pane .container .table-infor .head-table {
  /* text-transform: capitalize; */
  font-weight: 700;
  height: 50px;
}

.tab-pane .container .table-infor tr td {
  text-align: center;
  border: 1px solid #000;
  border-bottom: 0;
  border-right: 0;
  padding: 0 5px;
}

.tab-pane .container .table-infor tr:first-child td {
  border-top: 0;
}

.tab-pane .container .table-infor tr td:first-child {
  border-left: 0;
}

.tab-pane .container .table-infor .btn-table {
  padding: 0px 10px;
  border-radius: 5px;
  border: transparent;
  color: white;
  cursor: pointer;
  margin: 5px;
}

.tab-pane .container .table-infor .btn-table:hover {
  border-radius: 5px;
  border: transparent;
  background: #171a2b;
  color: white;
  cursor: pointer;
}

.del-btn {
  background: #FF1616;
}

.print-btn {
  background: #FF1616;
} 

.notice-content {
  text-align: center;
}

.room-name-notice {
  color: var(--text);
  font-weight: bold;
}

.icon-exclamation {
  font-size: 50px;
}

.btn-outline-secondary {
  color: #6c757d !important;
}
.btn-outline-secondary:hover {
  color: #fff !important;
}
/* --------chỉnh sửa phòng ------------*/
.upd-btn {
  background: var(--green-color);
}

.detail-btn {
  background: var(--green-color);
}

#form-update-room {
  display: none;
}

#form-update-room1 {
  display: none;
}


.btn-exit-form {
  background: rgb(182, 182, 182) !important;
  margin-right: 20px;
  display: none;
  float: right;
}
.btn-exit-form:hover {
  background: #171a2b !important;
  color: var(--white-color) !important;
}

.container.add.form {
  display: block;
}

.invalid {
  border: 2px solid red !important;
}


