#slider {
    position: relative;
    display: flex;
    justify-content: center;
    height: 55vh;
}
#slider .img-slider {
    overflow-y: hidden;
    width: 100%;
} 
#slider .content {
    width: 50vw;
    height: 150px;
    bottom: -80px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    background: var(--white-color);
    text-align: center;
    position: absolute;
}
#slider .content h2 {
    width: 50%;
    height: 110px;
    font-family: uvn-bale;
    font-size: 50px;
    border-bottom: 1px solid #000;
}
#content .intro-event {
    padding: 100px 0 50px 0;
    display: flex;
    justify-content: center;
}
#content .intro-event li {
    font-size: 20px;
    font-family: nexa;
}
#content .intro-event td {
    padding: 5px 15px;
}

#main-content .img-event {
    height: calc(100vh - var(--height-header));
}
#main-content .content-body {
    margin: 0;
    padding: 0 0;
    opacity: 1;
    border: none;
}
#content .video-event {
    outline: none;
}
#main-content .infor-body {
    font-size: 16px;
}
#main-content .infor-body  h2 {
    padding-top: 0;
}
#main-content .showmore-btn {
    padding: 15px 30px;
}

/* -------------------------- */
.about-food{
    padding: 100px 0;
}
.about-food .container{
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.about-food .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.about-food .col-lg-7{
    position: relative;
    max-width: 60%;
    padding:  0 20px;
}
.about-food .about-thumb{
    display: flex;
    justify-content: center;
}
.about-food .about-thumb img{
    vertical-align: middle;
    width: 100%;
}
.about-food .about-thumb .img_2 {
    margin-top: 40px;
    margin-left: 20px;
}
.about-food .about-info span{
    font-family: arimo;
    color: var(--color-pink);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2px;
    
}
.about-food .about-info h3{
    font-family: play fair;
    font-weight: 700;
    margin: 20px 0;
    line-height: 50px;
}
.about-food .about-info p {
    font-size: 17px;
    color: gray;
    text-align: justify;
    width: 80%;
}

/* ---------------------- */
.event-area{
    position: relative;
    z-index: 1;
} 
.event-area .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.event-area .col-12{
    max-width: 100%;

}
.event-area .event-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.event-area .single-event {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0 2px 14px 5px rgb(20 20 20 / 5%);
    border-radius: 3px;
    padding: 40px;
    text-align: center;
    width: fit-content;
    margin:0 auto ;
}
.event-area .single-event img {
    padding: 15px 0;
}
.event-area .single-event:hover {
    color: var(--color-pink);
    transition: all 0.3s;
}
.event-area .col-12 h2{
    font-family: play fair;
    padding-bottom: 10px;
    margin-bottom: 50px;
    border-bottom: 3px solid var(--color-pink);
    width: fit-content;
}
.event-area .single-event h5{
    font-family: arimo;
    width: 100px;
}
/* -------------------- */
.cover-bg{
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    padding: 7em 0;
    text-align: center !important;
    display: block;
    background-attachment: fixed;
}
.cover-bg:before {
  background: black;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: .4;
}
.cover-bg .coming-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  position: relative;
}


.cover-bg .row{
  padding: 6em 0;
  align-items: center;
  justify-content: center ;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
    margin-left: -15px;
    text-align: center
}
.order{
  position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.cover-bg .heading{
  font-family: play fair;
  font-size: 3.3rem;
  color: white;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 1rem;
  line-height: 1.1;

}
.cover-bg .sub-heading{
  color: var(--white-color);
  margin: 0 auto;
  float: none;
  max-width: 500px;
  font-weight: 200;
  text-align: center;
  font-size: 1rem;
  font-family: arimo;
}
/* ------------------------ */
.section-faci {
    margin-top: 100px;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 50px 0;
}
.section-faci::before{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(0, 0, 0, 0.1);

}
.section-faci .container-pic {
   
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
  
}
.section-faci .container-pic .col-md-6 {
    position: relative;
    width: 100%;
    padding-left: 10%;
}
.section-faci .block-card{
    transition: .3s all ease;
    color: #fff;
    border-radius: 4px;
    background: transparent;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 70%;
    margin:20px 0; 
}
.section-faci .wrap-icon {
    margin: 20px 0;
}