 /* animation */
@keyframes appearFade {
    to {
        opacity: 1;
    }
}
@keyframes dropdown {
    from {
        opacity: 0;
        transform: translateY(-100px)
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fromLeftDown {
    from {
        transform: translate(-10px, -20px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}
@keyframes fromRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Slider */
.slider-container {
    position: relative;
    height: 91vh;
    display: flex;
    justify-content: center;
}
#slider .slider-container .video-background {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

video {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.search {
    position: absolute;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.5);
}
.search .container{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin-right: 20px;
}
.input-group{
    /* margin-bottom: 10px; */
    animation: dropdown 2s;
}
.input-label{
    font-family: nexa;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    margin-left: 10px;
    display: block;

}
.input{
    width: 100%;
    font-family: nexa;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    color: var(--white-color);
    padding: 0.8rem;
    border: none;
    border-bottom: 2px solid var(--white-color);
    outline: none;
    background-color: rgba(0, 0, 0, 0.0);
    color-scheme: dark;
}
#adults, #kids {
    outline: none; 
    border: none !important;
    border-bottom: 2px solid var(--white-color) !important;
    color: var(--white-color) !important;
}
#adults::placeholder, #kids::placeholder { /* Microsoft Edge */
    color: #fff;
}
.btn-search{
    width: 180px;
    height: 60px;
    cursor: pointer;
    color: var(--black-color);
    font-weight: 800;
    font-size: 20px;
    background-color: var(--white-color);
    outline: none !important;
    border: none;
    margin: 0 0 0 10px;
    font-family: nexa;
    border: 2px solid var(--white-color);
    animation: fromRight 2s;
    transition: all 0.3s linear;
}
.btn-search:hover{
    background: var(--color-blue);
    color: #fff;
}
/* Content */
#content .intro {
    margin: 0 50px;
}
#content .intro-content {
    max-width: 100%;
    width: 900px;  
    line-height: 30px;
    text-align: justify;
}
#content .intro-background {
    opacity: 0;
    position: relative;
    background-image: url(../img/home/intro1.jpg);
    background-size: cover;
    border-radius: 10px;
    width: 40%;
    height: 400px;
    /* animation: appearImgIntro 2s forwards; */
}
#content .img-intro {
    position: absolute;
    left: -90px;
    bottom: -160px;
    width: 70%;
    height: 70%;
    border-radius: 10px;
    border: 5px solid var(--white-color);
}
#content .intro h2 {
    font-family: utm-bell;
    font-size: 40px;
    margin-bottom: 25px;
    text-align: center;
    color: var(--color-blue);
}
#content .intro p {
    font-size: 20px;
    line-height: 1.8;
    font-family: nexa;
    
}
#content #slogan {
    margin-top: 10px;
    text-align: center;
}
.content-body{
    display: flex;
    align-items: center;
    margin: 0 30px;
    /* animation: appearFade 2s; */
}
#content .group-img-content{
    width: 100%;
}
#content .img-content-service {
    width: 100%;
}
#content .img-event,
#content .img-service,
#content .img-room {
    width: 100%;
    height: 500px;
}

/* Khung content */
.infor-body {
    width: 100%;
    font-size: 17px;
    text-align: justify;
    line-height: 35px;

}

.infor-body .group-icon-star{
    margin-top: -10px;
    font-size: 12px;
    color: var(--color-blue);
}
.infor-body h2 {
    width: fit-content;
    font-family: uvn-bale;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-blue);
    color: var(--color-blue);
    margin-bottom: 20px;
}
.infor-body p {
    font-family: nexa;
    font-size: 20px;
}

.infor-body .showmore-btn {
    color:  var(--color-blue);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    background-color: var(--white-color);
    padding: 15px 20px;
    margin-top: 10px;
    border: 1px solid var(--color-blue);
    outline: none;
    box-shadow: 5px 5px #ccc;
    cursor: pointer;
}
.infor-body .showmore-btn:hover {
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
    background-color: var(--color-blue);
    box-shadow: none;

}

/*----------------------- Review------------------------ */
.review-container {
    display: none;
}
/* ---------------review customer------------------- */
.review-cus {
    display: flex;
    justify-content: center;
    height: 350px;
    margin-bottom: 100px;
    padding: 0 30px;
    /* margin-top: 50px; */
}
.review-cus-container {
    display: flex;
    justify-content: center;
    max-width: 400px;
    text-align: center;
    background: rgba(0,0,0, 0.8);
    padding: 0px 30px;
    font-family: UTM-Aptima;
    border-radius: 5px;
    flex-direction: column;
    flex: 1;
}
.star-widget {
    padding-top: 10px;
    margin: 0 auto;  
}
.star-widget input{
    display: none;
}
.star-widget label {
    font-size: 1.3rem;
    color: #444;
    padding: 10px;  
    margin: 0; 
    float: right;
    transition: all 0.2s ease;
}
.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}
.star-widget input:checked ~ label {
    color: #fd4;
}
input#rate-5:checked ~ label {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}
#main-review {
    width: 100%;
    font-size: 1.1rem;
    color: #fe7;
    font-weight: 500;
    margin: 0 0 20px 0;
    text-align: center;
}
.detail-review {
    width: 100%;
    overflow: hidden;
}
.detail-review textarea {
    height: 150px;
    width: 100%;
    outline: none;
    border: 1px solid #333;
    background: #444;
    padding: 10px;
    font-size: 1rem;
    color: #eee;
    resize: none;
}
.btn-sendreview {
    height: 45px;
    width: 100%;
    margin: 10px 0;
    padding-bottom: 10px;
}
.btn-sendreview button {
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #444;
    color: #999;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn-sendreview button:hover {
    background:  #1b1b1b;
    color: #eee;
}
#rate-1:checked ~ #main-review:before {
    content: "Mọi thứ rất tệ ☹️";
}
#rate-2:checked ~ #main-review:before {
    content: "Thái độ phục vụ tệ 😕";
}
#rate-3:checked ~ #main-review:before {
    content: "Mọi thứ đều ổn 😐";
}
#rate-4:checked ~ #main-review:before {
    content: "Phòng tốt, giá tốt 🥰";
}
#rate-5:checked ~ #main-review:before {
    content: "Mọi thứ trên cả tuyệt vời 🤩";
}
/* ---------cmt------- */
.reviewers {
    flex: 1;
    max-width: 900px;
    height: 500px;
    position: relative;
    margin: 0 0 0 30px;
    background-color: #fff;
    overflow: auto;
    border: 1px solid #1b1b1b; 
}
.comments {
    font-family: UTM-Aptima;
    padding: 10px;
}
.comments header {
    display: flex;
    align-items: center;
    
}
.comments .quote-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 3rem;
    transform: rotate(5deg);
}
.comments .frame-icon {
    border: 1px solid #000;
    padding: 0px 7px 4px 7px;
    border-radius: 50%;
}
.comments .username {
    color: rgb(39, 2, 108);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 7px;
    padding-left: 10px;
}
.comments .rating {
    width: fit-content;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(39, 2, 108);
    margin-bottom: 5px;
    margin-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}
.allocution {
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 0;
}

/* map */
#location {
    background: var(--background-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 100px;
}
