 /* animation */
@keyframes appearFade {
    to {
        opacity: 1;
    }
}
@keyframes dropdown {
    from {
        opacity: 0;
        transform: translateY(-100px)
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fromLeftDown {
    from {
        transform: translate(-10px, -20px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}
@keyframes fromRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* @keyframes fromLeft {
    to{
        transform: translateX(0);
    }
} */

/* Header */
#header {
    height: var(--height-header);
    background-color: var(--black-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    justify-content: space-between;
}
#img-logo{
    list-style: none;
    text-decoration: none;
    height: 150px;
    margin-top: -40px;
}
#open-nav-icon {
    display: none;
}
#nav {
    font-family: UTM-Aptima;
}
#nav > li {
    display: inline-block;
    position: relative;
}
#nav > li > a {
    padding: 15px 20px;
    line-height: 100px;
    line-height: var(--height-header);
    list-style: none;
    text-decoration: none;
    color: var(--white-color);
    transition: all ease 0.5s;
}

#nav .icon-down {
    margin-left: 5px;
    
}
#nav > li:hover > a{
    color: var(--subnav-hover);
}
#nav .subnav {
    display: none;
    position: absolute;
    top: var(--height-header);
    left: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav .subnav li {
    display: inline-block;
    width: 145.5px;
    list-style: none;
    padding: 10px;
    cursor: pointer;
}
#nav .subnav a {
    text-decoration: none;
    color: var(--black-color);  
}
#nav li:hover .subnav {
    display: block;
}
#close-nav-icon {
    display: none;
}
/* Slider */
.slider-container {
    margin-top: var(--height-header);
    /* margin-top: var(--height-header); */
    position: relative;
    height: 91vh;
    display: flex;
    justify-content: center;
}
#slider .slider-container .video-background {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

video {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.search {
    position: absolute;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.5);
}
.search .container{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin-right: 20px;
}
.input-group{
    /* margin-bottom: 10px; */
    animation: dropdown 2s;
}
.input-label{
    font-family: nexa;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    margin-left: 10px;
    display: block;

}
.input{
    width: 100%;
    font-family: nexa;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    color: var(--white-color);
    padding: 0.8rem;
    border: none;
    border-bottom: 2px solid var(--white-color);
    outline: none;
    background-color: rgba(0, 0, 0, 0.0);
    color-scheme: dark;
}
#adults, #kids {
    outline: none; 
    border: none !important;
    border-bottom: 2px solid var(--white-color) !important;
    color: var(--white-color) !important;
}
#adults::placeholder, #kids::placeholder { /* Microsoft Edge */
    color: #fff;
}
.btn-search{
    width: 180px;
    height: 60px;
    cursor: pointer;
    color: var(--black-color);
    font-weight: 800;
    font-size: 20px;
    background-color: var(--white-color);
    outline: none !important;
    border: none;
    margin: 0 0 0 10px;
    font-family: nexa;
    border: 2px solid var(--white-color);
    animation: fromRight 2s;
}
.btn-search:hover{
    color: #F8A64B;
    font-weight: 1000;
}
/* Content */
#content .intro {
    margin: 0 50px;
}
#content .intro-content {
    max-width: 100%;
    width: 900px;  
    line-height: 30px;
    text-align: justify;
}
#content .intro-background {
    opacity: 0;
    position: relative;
    background-image: url(../img/home/intro1.jpg);
    background-size: cover;
    border-radius: 10px;
    width: 40%;
    height: 400px;
    /* animation: appearImgIntro 2s forwards; */
}
#content .img-intro {
    position: absolute;
    left: -90px;
    bottom: -160px;
    width: 70%;
    height: 70%;
    border-radius: 10px;
    border: 5px solid var(--white-color);
}
#content .intro h2 {
    font-family: utm-bell;
    font-size: 40px;
    margin-bottom: 25px;
    text-align: center;
    color: var(--color-blue);
}
#content .intro p {
    font-size: 20px;
    line-height: 1.8;
    font-family: nexa;
    
}
#content #slogan {
    margin-top: 10px;
    text-align: center;
}
.content-body{
    display: flex;
    align-items: center;
    margin: 0 30px;
    /* animation: appearFade 2s; */
}
#content .group-img-content{
    width: 100%;
}
#content .img-content-service {
    width: 100%;
}
#content .img-event,
#content .img-service,
#content .img-room {
    width: 100%;
    height: 500px;
}

/* Khung content */
.infor-body {
    width: 100%;
    font-size: 17px;
    text-align: justify;
    line-height: 35px;

}
.infor-body.body-service {
    
}
.infor-body .group-icon-star{
    margin-top: -10px;
    font-size: 12px;
    color: #F9B456;
}
.infor-body h2 {
    width: fit-content;
    font-family: uvn-bale;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--title-color);

    margin-bottom: 20px;
}
.infor-body p {
    font-family: nexa;
    font-size: 20px;
}

.infor-body .showmore-btn {
    color:  #F9B456;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: var(--white-color);
    padding: 15px 20px;
    margin-top: 10px;
    border: 1px solid #F8A64B;
    outline: none;
    box-shadow: 5px 5px #ccc;
    cursor: pointer;
}
.infor-body .showmore-btn:hover {
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
    background-color: #F8A64B;
    box-shadow: none;

}

/* Review */
.review-container {
    display: flex;
    justify-content: center;    
}

#review .pt-5, .py-5 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
#review .col-6 .mb-3 {
    font-family: UTM-Aptima;
    
} 

#review .btn-primary {
    background-color: #7499a2;
    border: none;
}

#review .card {
    max-width: 300px;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #7499a2;
    border-radius: 20px;
    position: relative;
}
#review .img-fluid {
    top: 30px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    object-fit: cover;
}
#review .card-body {
    max-height: 200px;
    font-family: nexa;
    text-align: center;
    padding-top: 48px;
    margin-top: 120px;
    border-radius: 10px 10px 20px 20px;
    background-color: #fff;
}
#review .card-body .card-title {
    font-size: 20px;
    font-weight: 700;
}
#review .card-body .card-text {
    height: 200px;
    font-size: 15px;
    font-weight: 600;
}  
/* map */
#location {
    background: var(--background-color);
    text-align: center;
    padding-bottom: 200px;
}
#footer {
    padding: 0 !important;
}
#footer .footer-content {
    font-family: UTM-Aptima;
    background: var(--black-color);
    color: aliceblue;
    max-width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#footer .footer-container {
    position: relative;
}
#footer #admin {
    display: none;
}
#footer .follow-us {
    display: inline-block;
    width: 300px;
    max-width: 100%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-right: 30px;
    line-height: 2.4;
 
}
#footer .follow-us h2 {
    font-weight: 700;
    font-size: 35px;
}
#footer .social-contact {
    text-align: center;
}
#footer .follow-us .follow-us-social {
    display: flex;
    padding: 0 10px;
    justify-content: space-evenly;
    align-items: center;
}
#footer .follow-us .follow-us-social p {
    margin: 0;
    font-size: 20px;
}
#footer .icon-follow-us {
    color: var(--color-pink);
    font-size: 20px;
}
#footer .icon-follow-us:hover {
    transform: translateY(-5px);
    transition: all .5s;
}
#footer .infor-contact {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 2.4;
    margin-bottom: 0;
}
#footer .infor-contact li {
   list-style-type: none;
}
#footer .infor-contact li a {
    text-decoration: none;
    color: var(--background-color);
}
#footer .infor-contact li a:hover {
    color: var(--color-pink);
    text-decoration: underline;
    transition: all .5s;
    padding-left: 3px;
}
/* do 2 cái ko đồng đều nên phải tách nhỏ */
#footer .icon-infor-contact1 {
    padding-right: 14px;
}
#footer .icon-infor-contact {
    padding-right: 10px;
}

/* Icon để kéo lên đầu trang */
#scroll-head {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    background-color: var(--color-blue);
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
}
#scroll-head:hover {
    color: #fff;
}