@media (min-width: 1025px) {
    #img-intro1,#img-intro2, .text-intro {
        opacity: 0;
    }
 
    .slider-container {
        /* background-color: rgba(0, 0, 0, 0.5); */
        background-color: transparent;
       
    }
    #content {
        background-color: var(--background-color);
        padding: 30px 0;
        
    }
    #content .intro {
        padding: 100px 0 200px 0;
        display: flex;
        justify-content: space-between;
    }
    @keyframes fromLeftUp {
        from {
            transform: translate(-50px, 20px)
        }
        to {
            opacity: 1;
            transform: translate(0px, 0px)
        }
    }
    #content .intro-content {
        opacity: 0;
        flex: 1;
        max-width: 700px;
        padding-right: 100px;
        /* animation: appearTextIntro 2s forwards; */
        /* text-align: left; */
    }
    .content-body {
        height: 480px;
        background: var(--white-color);
        margin-bottom: 200px;
        border: 1px solid rgb(194, 191, 191);
    }
    .content-body.room {
        opacity: 0;
        margin-top: 100px;
    }
    
    #content .img-event,
    #content .img-room {
        height: 600px;
        padding-left: 50px;
    }
    #content .img-service {
        height: 600px;
    }
    #content .group-img-content{
        width: 70%;
    }
    #content .img-content-service {
        width: 70%;
        padding-right: 50px;
    }
    .infor-body {
        width: 50%;
        padding: 40px 50px 40px 80px;
    }
    .infor-body.body-service {
        padding-right: 80px;
        padding-left: 50px;
    }
    .infor-body p {
        max-height: 280px;
        overflow-y: auto;
    }
    
    /* ----------------review---------------- */
    #review .card-body {
        max-height: 150px;
    }
   
}
@media (min-width: 780px) {
    .review-container {
        display: flex;
        justify-content: center;    
    }
    
    #review .pt-5, .py-5 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    #review .col-6 .mb-3 {
        font-family: play fair;
        
    } 
    #review .col-md-4 {
        height: fit-content;
    }
    #review .main {
        height: inherit;
    }
    #review .main .home {
        height: inherit;
    }
    #review .carousel-inner.home {
        height: inherit;
    }
    #review .col-6 i::before{
        color: black;
    }
    #review .btn-primary {
        background-color: rgb(247, 247, 247);
        border: 1px solid black;
        border-radius: 150px;
    }
    #review .card {
        max-width: 98%;
        max-height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        background-color: #000;
        box-shadow: 0px 5px 12px -9px rgb(0 0 0 / 17%);
    }
    #review .img-fluid {
        top: 20px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: absolute;
        object-fit: cover;
        background-position: center center;
    }
    #review .card-body {
        max-height: 200px;
        font-family: nexa;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 0;
        margin-top: 120px;
        /* border-radius: 10px 10px 20px 20px; */
    }
    #review .card-body .card-title {
        font-size: 20px;
        font-weight: 700;
        font-family: arimo;
        color: var(--color-pink);
    }
    #review .card-body .card-text {
        height: 100px;
        font-size: 15px;
        font-family: arimo;
        color: #fff;
    }
    #review-cus {
        margin-top: 0;
    }
}
@media (max-width: 1024px) {
    
    #main-content {
       margin: 0 20px; 
    }

    #content .intro {
        padding: 100px 0 50px 0;
    }
    #content .intro p {
        font-size: 17px;
    }
    #content .img-intro,
    #content .intro-background  {
        display: none;
    }
    #content .img-event,
    #content .img-service,
    #content .img-room {
    height: auto;
    }
    
    .content-body {
        display: block;
        padding: 0;
    }
    .infor-body {
        margin-top: 20px;
    }
    .infor-body p {
        font-size: 17px;
    }
    .room, #content .service, #content .event {
    margin-top: 50px;
    }
    .infor-body .showmore-btn {
        padding: 8px 17px;
        font-size: 15px;
    }
    .infor-body .showmore-btn.ser {
        margin-bottom: 20px;
    }
    #review .title-review {
        width: 200px;
        font-size: 20px;
        line-height: 1.5;
    }
    #review .btn {
        padding: 8px 15px;
    }
    #review .container {
        min-width: 100%;
        margin: 0;
        /* padding-right: 0; */
    }
    #carousel-inner-review {
        height: 400px;
        overflow-y :auto !important;
    }
    #review .col-md-4 {
        width: fit-content;
        float: left;
    }
    #review .card-body .card-title {
        font-size: 15px;
    }
    /* #review .card-body .card-text {
        height: fit-content;
        font-weight: 600;
        line-height: 1.3;
    }  */
    #review {
        margin-top: 70px;
    }
    #location {
    background: var(--white-color);
    }
    
    #content .preview-half{
        padding-top: 5%;
    }
    #content .preview-half .image{
        height:50%;
        width: 100%;
    }
    #content .preview-half .text{
        width: 100%;
        padding: 30px 100px;
        float: left;
    }

    .about-us .container-intro{
        max-width: 720px;
    }
  
    #content .about-us .row {
        display: block;   
    }
    #content .about-pic .row {
        display: flex;   
    }
  
}
/* mobile */
@media (max-width: 740px) { 
    .review-cus{
        display: block;
        margin-bottom: 500px;
    }
    .review-cus-container {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .reviewers {
        margin-top: 30px;
        margin-left: 0;
    }
    .search {
        bottom: -50px;
    }
    #content .intro p {
        font-size: 14px;
    }
    .infor-body h2 {
        font-size: 20px;
    }
    .infor-body p {
        font-size: 14px;
    }
    #location {
        padding-top: 100px;
    }
    #location iframe {
        height: 300px;
    }
   
}

@media (max-width: 995px) {  
    #review .card-body .card-text {
        height: 150px;
        font-size: 15px;
        font-family: arimo;
    }
    .grid{
        grid-template-columns: auto auto;
        column-gap: 10px;
        margin-right: 0;
    }
   
    .search .container {
        display: block;
        width: 70vw;
        text-align: center;
    }
    .input-group{
        padding-left: 0;
        margin-bottom: 0;
    }
    .input-label{
        display: block;
        font-size: 15px;
    }
    .btn-search{
        width: 100%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .our-service .col-lg-4{
        width: 50%;

    }
    .room-event .container-context{
        width: 100%;
        margin-top: 50%;
    }
    .room-event .single::before{
        display: block;
        width: 100%;
        margin-bottom: 100px;

    }
    .room-event .room-caption {
        background: white;
    }
    .room-event .caption{
        width: 100%;

        padding: 3% 10% ;
    }
    .room-event .right-img p{
        text-align: left;
    }
    .room-event .col-lg-8 {
        align-items: center;
    }
    
    .room-event .single{
        position: relative;
        padding: 30px 0;
    }
    
}
@media (max-width: 620px) {

    .our-service .col-lg-4{
        width: 100%;

    }
 
    #content .intro {
        padding-top: 250px;
        padding-bottom: 10px;
    }
    .grid{
        grid-template-columns: auto;
    }
    .search {
        bottom: -200px;
    }

    #content .about-us {
          padding-top: 40%;
    }
    #content .about-pic .row {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }
    #content .about-pic .col-sm-6{
        padding-bottom: 20px;
    }

} 