/* PC */
@media (min-width: 1025px) {
    #nav .subnav {
    background-color: var(--white-color);
    }
    #nav .subnav li:hover ul {
        opacity: 1;
        z-index: 9;
        padding: 30px 0;
    }
    #nav > li > a {
        padding: 15px 30px;
    }
    #nav .subnav li:hover {
        background-color: var(--subnav-hover);
        padding-left: 15px;
        transition: all ease 0.5s;
    }
}

/* tablet */
@media (max-width: 1024px) {
    #nav {
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        margin-bottom: 0;
        background-color: #000;
        overflow: auto;
        transition: 0.5s;
        font-size: 16px;
    }
    
    #open-nav-icon {
        display: block;
        font-size: 25px;
        color: var(--white-color);
        line-height: var(--height-header);
        padding-right: 20px;
        padding-left: 20px;
        cursor: pointer;
    }
    #close-nav-icon {
        height: fit-content;
        font-size: 28px;
        color: var(--white-color);
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 0 12px 5px 12px;
        z-index: 60;
        cursor: pointer;
    }
    #nav > li {
        display: block;
        height: 60px;
        line-height: 60px;
        list-style: none;
        border-bottom: 1px solid #fff ;
        transition: height 0.2s;
    }
    
    #nav > li:first-child {
       margin-top: 70px;
    }
    #nav li.showMenu .icon-down{
        transform: rotate(-180deg);
    }
    /* note */
    
    #nav .subnav {
        width: 100%;
        top: 55px;
        left: 20px;
        padding-right: 20px;
        z-index: 70;
        line-height: 2.5;
    }    
    #nav li:hover .subnav {
        display: none;
    }
    #nav .subnav li {
        column-width: 74px;
        color: #fff;
        max-width: fit-content;
        padding: 0 10px 0 8px;
    }  
    
    #nav li.showMenu .subnav{
        display: block;
    }
    .background-color-yellow {
        background-color: #F9B456;
        color: var(--black-color) !important;
    }
    
    #overlay {
        background-color: rgba(0,0,0,0.4);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        z-index: 1;
    }
}
@media (max-width: 740px) {
    
}
