

---------------------------------------------
#content .intro-event {
  padding: 10% 0;
  width: 50vw;
  display: flex;
  justify-content: space-between;
}

#content .sub-content p {
  margin-top: 6%;
  text-align: center;
  font-family: play fair;
  font-size: 18px; 
  font-weight: 600;
}
/* ---------------------------------- */
.intro-service{
  width: 100%;
    padding: 5% 8% 0  8% ;
    margin-right: auto;
    margin-left: auto;
}
.intro-service .col-12{
    position: relative;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}
.intro-service .section-heading{
  position: relative;
    z-index: 1;
    margin-bottom: 50px;
    width: 400px;
}
.section-heading span{
  color: var(--color-pink);
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 14px;
}
.section-heading h2{
  text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: play fair;
    font-weight: 700;
}
.section-heading h5{
  font-weight: 400;
  color: grey;
  line-height: 40px;
}
.intro-service .section-thumbnail{
  position: relative;
    z-index: 1;
}
.intro-service .no-gutters{
  display: flex;
  flex-wrap: wrap;
}
.intro-service .single-thumb{
  position: relative;
    z-index: 1;
    margin: 5px;
    display: block;
    overflow: hidden;
}
.intro-service img{
  max-width: 100%;
    height: auto;
    vertical-align: middle;
}
/*===============================================*/
.align-items-center{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
/* --------------------------------------------------- */
.product-container {
  margin: 5rem;

}
.product-image{
  width: 100%;
  height: 350px;
}
.product-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} 
.product-info{
  width: 100%;
    height: 100px;
    padding-top: 10px;
    text-align: center;
}
.product-brand {
  text-transform: uppercase;
  font-size: 20px;
  font-family: play fair;
  font-weight: 600;
}

.price {
  font-weight: 500;
  font-size: 17px;
  font-family: arimo;
}
.product-card {
  margin: 0 35px;
}
.slick-prev{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: none;
  z-index: 2;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
  outline: none !important;
}
.slick-next{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: none;
  z-index: 2;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
  outline: none !important;
}
.slick-dots{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50px);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap:0 20px;
  cursor: pointer;
}
.slick-dots li::marker{
  color: var(--white-color);
}
.slick-dots button{
  font-size: 0;
  width: 0.5rem;
  height: 0.5rem;
  border: none;
  border-radius: 100rem;
  background: #bbb;
  outline: none;
}
.slick-dots .slick-active button{
  outline: none;
  background-color: var(--color-pink);
}
  
  /* ----------------UPCOMING ------------ */
.cover-bg{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center !important;
    display: block;
    background-attachment: fixed;
}
.cover-bg:before {
  background: black;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: .4;
}
.cover-bg .coming-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  position: relative;
}


.cover-bg .row{
  padding: 6em 0;
  align-items: center;
  justify-content: center ;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
    margin-left: -15px;
    text-align: center
}
.order{
  position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.cover-bg .heading{
  font-family: play fair;
  font-size: 3.3rem;
  color: black;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 1rem;
  line-height: 1.1;

}
.cover-bg .sub-heading{
  color: var(--white-color);
  margin: 0 auto;
  float: none;
  max-width: 250px;
  font-weight: 200;
  text-align: center;
  font-size: 1rem;
  font-family: nexa;
}


  /*------- DISCOUNT --------*/

.justify-content-center {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.text-center{
  text-align: center;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.discount{
  font-family: play fair;
  color: var(--color-pink);
  font-weight: 700;
  font-size: 4rem;
}
.lead {
  font-size: 1rem;
  font-weight: 300;
  margin: 1.25rem 0;
  font-family: arimo;
  color: white;
}

